<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scfx.mapper.PriceMapper">

    <insert id="batchInsertOrUpdate" parameterType="list">
        INSERT INTO t_price (`date`, variety, region, province, area_type, price, change_val, remark, unit, source)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.date}, #{item.variety}, #{item.region}, #{item.province}, #{item.areaType},
             #{item.price}, #{item.changeVal}, #{item.remark}, #{item.unit}, #{item.source})
        </foreach>
        ON DUPLICATE KEY UPDATE
        price = VALUES(price),
        change_val = VALUES(change_val),
        remark = VALUES(remark),
        province = VALUES(province),
        area_type = VALUES(area_type),
        unit = VALUES(unit)
    </insert>

</mapper>
